@import "../variables";

.back-baner {
  width: 100%;
  padding: 24px 0;
  background-color: $primary-100;
  background-image:  url(/img/icons/short-baner-fingerprint.svg);
  background-size: auto 200%;
  background-repeat: no-repeat;
  background-position: right;

  .icon-link {
    padding: 8px 16px;
    font-weight: 700;
  }
}