.container {
  width: 100%;
  margin: auto;
  max-width: 1280px;

  @media screen and (max-width: 1280px) {
    padding: 0 32px;
  }

  @media screen and (max-width: 920px) {
    padding: 0 16px;
  }
}

.mobile {
  @media screen and (min-width: 920px) {
    display: none !important;
  }
}

.desktop {
  @media screen and (max-width: 920px) {
    display: none !important;
  }
}

.page-template {
  padding-top: 106px;

  @media screen and (max-width: 920px) {
    padding-top: 65px;
  }

}