body *{
  box-sizing: border-box;
}
img{
  display: block;
  width: 100%;
}
ul{
  list-style-type: none;
}
button{
  background: transparent;
  border: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
div{
  box-sizing: border-box;
}